<html>
    <body>
        <div class="row">    
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <%= react_component("ForumWindow") %>   
                    </div>                 
                </div>
            </div>
        </div>
    </body>
</html>