.chat-button
{
    border: none;
    color: white;
    background-color: black;
    float: right;
}

.chat-button:active
{
    border: none;
    color: black;
    background-color: white;
    float: right;
}

.forum-topic
{
    color: black;
    background-color: white;
}